
ul {
  padding: 0;
  margin: 0;
}

article ul {
  padding-left: 1em;
  margin-bottom: 1em;
}

li:hover
{  
  background:#FFF /*#EDF7FC*/;
  color:  #2da5da;
}


body {
  background: #fff;
}

h1{
  font-family: font-family: 'Alegreya Sans SC', sans-serif;
  color: red;
  position: absolute;
  left: 15px;
}

body {
  margin: 0;
  min-width: 100%;
  height: 100%;
  padding-left: 50px;
}

.content-frame {
  -ms-transform: translate(150px, 0);
  -moz-transform: translate(150px, 0);
  -webkit-transform: translate3d(150px, 0, 0);
  transform: translate(150px, 0);
  -ms-transition: -ms-transform 0.28s ease-in-out;
  -moz-transition: -moz-transform 0.28s ease-in-out;
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
}
.nav-collapsed .content-frame {
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
}

html.menu-always-open {
  padding-left: 200px;
}
html.menu-always-open body {
  padding-left: 0;
}
html.menu-always-open .content-frame {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  -ms-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
@media screen and (max-width: 740px) {
  html.menu-always-open {
    padding-left: 0;
  }
}
.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  overflow: hidden;
  cursor: default;
  color: #FFFFFF;
 /* background: #222;*/
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: width ease-in-out 0.28s, background linear 0.1s;
  -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
  -o-transition: width ease-in-out 0.28s, background linear 0.1s;
  transition: width ease-in-out 0.28s, background linear 0.1s;
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.gv-logo {
  height: 80px;
}

.gv-logo .logotype,
.gv-logo .bug {
  width: 150px;
  height: 50px;
}


.menu .gv-logo {
  margin: 20px 0 30px 0;
}

.menu ul {
  width: 200px;
}
.menu li a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: inherit;
  /*color: #FFFFFF;*/
  line-height: 44px;
  padding-left: 50px;
  border-top: 1px #5488D6 solid;
  text-decoration: none;
}
.menu li a.focus {
  color: #014E91;
}

.menu .icon {
  display: block;
  position: absolute;
  top: 1px;
  left: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  opacity: 0.4;
}
.menu li a.selected .icon {
  opacity: 1.0;
}

@media screen and (max-height: 670px) and (min-width: 740px) {
  .menu li a {
    line-height: 35px;
    font-size: 14px;
  }
  .menu .icon {
    top: -5px;
  }
}
.ie8 .menu li a {
  line-height: 35px;
  font-size: 14px;
}
.ie8 .menu .icon {
  top: -5px;
}
.nav-collapsed .menu {
  width: 50px;
}
.nav-collapsed .menu h3 {
  opacity: 0;
}
.menu.white-nav {
  background: transparent;
}
.menu.white-nav li a {
  color: #333;
  border-color: rgba(1, 1, 1, 0.1);
}
.menu.white-nav .gv-logo .logotype {
  top: 5px;
  background-position: 0 -100px;
}


.top-nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 8px;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #777;
  font-size: 16px;
  font-weight: 300;
  z-index: 30;
}
.top-nav .left {
  position: absolute;
  left: 5px;
  z-index: 5;
}

/* botones thumbs up , down , middle*/




.thumbs {
  /*border: none;*/
 /* font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
 */ 
 /*font-weight: 700;*/
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.thumbs:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.thumbs:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


/*.thumbs-7 {
  background: #17aa56;
  color: #fff;
  border-radius: 7px;
  box-shadow: 0 5px #119e4d;
  padding: 25px 60px 25px 90px;
}
*/

/* Button 7g 
.thumbs-7g:after {
/*  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 26px;
  line-height: 54px;
  /*color: #0a833d;
  visibility: hidden;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}*/

/*.thumbs-activated {
  visibility: visible;
  -webkit-animation: dropDownFade 0.5s forwards;
  -moz-animation: dropDownFade 0.5s forwards;
  animation: dropDownFade 0.5s forwards;
  color: red;
} 

.thumbs-7g.btn-activated:after {
    visibility: visible;
    -webkit-animation: dropDownFade 0.5s forwards;
}*/


/*
.thumbs-icon-only {
  font-size: 0;
  padding: 25px 30px;
}*/

/*.thumbs-icon-only:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 26px;
  line-height: 54px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}*/



/*.icon-plus:before,
.icon-plus:after {
  content: "\e011";
}*/



/* Button 7g */
.thumbs:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 26px;
  line-height: 54px;
  color: #0a833d;
  visibility: hidden;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.thumbs.thumbs-activated:after {
  visibility: visible;
  -webkit-animation: dropDownFade 0.5s forwards;
  -moz-animation: dropDownFade 0.5s forwards;
  animation: dropDownFade 0.5s forwards;
} 

@-webkit-keyframes dropDownFade {
  50% { 
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% { 
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes dropDownFade {
  50% { 
    opacity: 1;
    -moz-transform: scale(1);
  }
  100% { 
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}

@keyframes dropDownFade {
  50% { 
    opacity: 1;
    transform: scale(1);
  }
  100% { 
    opacity: 0;
    transform: scale(1.5);
  }
}
